@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #737373;
    line-height: 1.5;/*межстрочный интервал*/
    font-size: 1rem;
}

.wrap{
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    box-sizing: border-box;
    max-width: 1330px;
    margin: 0 auto;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 94px;
}

.menu li a{
    color: #252B42;
    text-decoration: none;
}

.menu li a:hover{
    color: #FA9A0C;
}

.download__wrap{
    background: url(../img/bg-app.png) center center no-repeat;
    background-size: cover;
    padding: 73px 0 146px 0;
}

.download{
    color: #FFFFFF;
    text-align: center;
}

.download__text{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 20px;
}

.download__title{
    font-weight: 700;
    font-size: 3rem;
    line-height: 5rem;
    margin-bottom: 30px;
}

.download__subtitle{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 60px;
}

.btn{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 16px 60px;
    display: inline-block;
    margin: 0 34px 0 0;
}

.btn--orange{
    background: #FA9A0C;
    border-color: #FA9A0C;
}

.workapp__wrap{
    padding: 50px 0;
    background-image: url(../img/bg.jpg);
}

.parttitle{
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 2.25rem;
    text-align: center;
    color: #000;
    margin-bottom: 80px;
}

.workapp--item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 130px;
}

.workapp__img{
    width: 47%;
    text-align: center;
}

.workapp__text{
    width: 50%;
}

.workapp__text h3{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #FA9A0C;
    margin-bottom: 17px;
}

.workapp__text h2{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.56rem;
    color: #252B42;
    margin-bottom: 17px;
}

.workapp__text p{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.workapp--item:nth-child(2n){
    flex-direction: row-reverse;
}

.workapp--item:last-child{
    margin-bottom: 110px;
}

.downloadsecond__wrap{
    background: url(../img/bg-app-2.png) center center no-repeat;
    background-size: cover;
    padding: 70px 0 70px 0;
}

.footer__wrap{
    padding: 70px 0;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrap p{
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.125rem;
}

.footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer div a {
    margin-left: 19px;
    align-items: center;
}

@media (max-width:800px){
    .header{
        flex-direction: column;
    }
    .logo{ 
        margin-bottom: 30px;
    }
    .menu li{
        margin-left: 25px;
        margin-right: 25px;
    }
    .download__text{
        font-weight: 500;
        font-size: 1.25rem;
    }
    .download__title{
        font-size: 2rem;
        line-height: 3.5rem;
    }
    .download__subtitle{
        font-size: 1.25rem;
    }
    .download__wrap{
        padding: 40px 0 70px 0;
    }
    .parttitle{
        font-size: 2rem;
        margin-bottom: 50px;
    }
    .workapp--item{
        flex-direction: column-reverse;
    }
    .workapp--item:nth-child(2n){
        flex-direction: column-reverse;
    }
    .workapp__text, .workapp__img{
        width: 100%;
    }
    .workapp__text{
        margin-bottom: 40px;
    }
    .workapp__text h3{
        font-size: 1.25rem;
        line-height: 2.5rem;
    }
    .workapp__text h2{
        font-size: 2rem;
        line-height: 3rem;
    }
}