@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #737373;
    line-height: 1.5;/*межстрочный интервал*/
    font-size: 1rem;
}

.wrap{
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    box-sizing: border-box;
    max-width: 1330px;
    margin: 0 auto;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 94px;
}

.menu li a{
    color: #252B42;
    text-decoration: none;
}

.menu li a:hover{
    color: #FA9A0C;
}

.download__wrap{
    background: url(../img/bg-app.png) center center no-repeat;
    background-size: cover;
    padding: 73px 0 146px 0;
}

.download{
    color: #FFFFFF;
    text-align: center;
}

.download__text{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 20px;
}

.download__title{
    font-weight: 700;
    font-size: 3rem;
    line-height: 5rem;
    margin-bottom: 30px;
}

.download__subtitle{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 60px;
}

.btn{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 16px 60px;
    display: inline-block;
    margin: 0 34px 0 0;
}

.btn--orange{
    background: #FA9A0C;
    border-color: #FA9A0C;
}

.workapp__wrap{
    background-image: url(../img/bg.jpg);
}